



.main-body{
  min-height: 78vh;
}

#addNew{
color:#2A73cc;
position: fixed;
right: 3px;
bottom: 70px;
background-color: white;
}
#addNew:hover{
  bottom: 75px;

}






footer{
 
  background-color: #2A73cc;
  width: 100%;
}
