{%  extends "layout.html"  %}
{% load crispy_forms_tags %}

{% block title %}{{user}} Profile{% endblock %}

{% block content %}
<div class="container-md">
    <div class="row py-3 ">
    
    {% include 'right_bar.html' %}        
  
      <div class="col-md-6 mx-2 px-4">
        <form class='form-group' action="" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          {{form|crispy}}
          <input type="submit" class="btn btn-primary" value='Update'>
        </form>
      </div>  

    </div>
</div>

{% endblock %}